html{
    background-color: rgba(31, 31, 31, 1);
}
#keyCode{
    margin: auto;
    width: 40em;
    height: 40em;
    position: relative;
    top: 20em;
    border: 20px solid rgba(255,255,255,1);
    border-radius: 40px;
    box-shadow: 0px 0px 17px rgba(255,255,255,1);
}
#keyContainer{
    margin:auto;
    width: 40em;
    height: 10em;
}
#key{
    margin: auto;
    padding: 30px 0px 30px 0px;
    width: 550px;
    height: 100px;
    font-size: 100px;
    text-align: center;
    color: rgba(255,255,255,1);
}
#numContainer{
    margin: auto;
    width: 40em;
    height: 30em;
    
}
#num{
    margin: auto;
    padding: 70px 0px 70px 0px;
    font-size: 300px;
    text-align:center;
    color: rgba(255,255,255,1);
}
